In [ ]:
print("Hello World")

message = "Hello World"
print(message)

name = "Jane"
age = 25

print("My name is " + name + " and i am " + str(age) + " years old")
print(f"My name is {name} and i am {age} years old")

Hello World
Hello World
My name is Jane and i am 25 years old
My name is Jane and i am 25 years old

DATA TYPES

Data types define the type of value a variable can hold.

1. strings
2. numbers
3. booleans
4. lists
5. tuples
6. dictionaries
7. sets
8. none types

Strings

In [ ]:
str1 = 'hello'
str2 = 'world'
str1 = ''''
    This is a mutli-line string
    This is a mutli-line string
    This is a mutli-line string
'''

# print(type(str1))

text = "PYTHON  programming"

print(text.upper()) #changing the string to upper case

print(text.lower()) # changing into lower case

print(text.capitalize()) # making the first letter be a capital letter

print(text.title()) # making the text be like a title whereby each word starts in caps

print(text.swapcase()) # swaps the case whereby if the first word was in caps and the second word was in small letters, the vice versa happens

PYTHON  PROGRAMMING
python  programming
Python  programming
Python  Programming
python  PROGRAMMING

In [ ]:
message = "Hello World"

print(message.find("World"))
print(message.count("l")) # 3 letter ls

6
3

In [ ]:
data = "    hello    "
print(data)
print(data.strip())
print(data.lstrip())
print(data.rstrip())

    hello
hello
hello
    hello

In [ ]:
text2 = "I like javascript"
print(text2)
print(text2.replace("javascript", "python"))

I like javascript
I like python

## Numbers

Int

In [ ]:
# can be positive, negative or zero
num1 = 20
num2 = -25
num3 = 10**100 #power
print(num3)

a = 10
b = 3

print(a + b)
print(a - b)
print(a / b)
print(a * b)
print(a // b)
print(a % b)
print(a ** b)

10000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000
13
7
3.3333333333333335
30
3
1
1000

## Floats

In [ ]:
pi = 3.31415
val = -2.5
sci = 1.2e3

print(sci)
print(type(pi))

print(0.3 + 0.5)
print(0.1 + 0.2)
from decimal import Decimal
print(Decimal("0.1") + Decimal("0.2"))

1200.0
<class 'float'>
0.8
0.30000000000000004
0.3

In [ ]:
print(int(2.6))
print(abs(-9))
print(pow(2, 3))
print(divmod(10, 3)) # 10 is a dividend and 3 is the divisor

2
9
8
(3, 1)

In [ ]:
import math

print(math.sqrt(64))
print(math.factorial(5)) # mutliplication of values from 1 to number 5
print(math.gcd(24, 36))
print(math.log(100, 10))

8.0
120
12
2.0

## Booleans

In [ ]:
print(3 > 5)
print(3 < 5)
print(True == 1)
print(True + True)
print(False == 0)
print(False + 10)
print(False + False)
print(True + 10)
# print(True == 1)

False
True
True
2
True
10
0
11

Falsy values:

1. 0(numeric zero: 0, 0.0, oj)
2. ("")empty string
3. []empty list
4. ()empty tuple
5. {}empty dict
6. set() empty set
7. none

## List

In [ ]:
fruits = ["mango", "lemon", "orange"]
print(fruits)

fruits.append("banana")
print(fruits[2])
print(type(fruits))

['mango', 'lemon', 'orange']
orange
<class 'list'>

## Tuples

In [ ]:
coordinates = (20, 30)
print(coordinates)
print(type(coordinates))

(20, 30)
<class 'tuple'>

## Range - a sequence of numbers

In [ ]:
numbers = range(10)
print(list(numbers))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

## Sets

In [ ]:
colors = {"blue", "red", "green", "blue"}
print(colors)
colors.add("purple")
print(colors)

{'red', 'blue', 'green'}
{'red', 'purple', 'blue', 'green'}

## Dictionaries

In [ ]:
student = {"name": "Alice", "age": 20}
print(student)
print(student["name"])
print(type(student))

{'name': 'Alice', 'age': 20}
Alice
<class 'dict'>

## None

In [ ]:
b = None
print(type(b))
b = 3
print(type(b))

<class 'NoneType'>
<class 'int'>

## Conditional Statements

In [ ]:
age = 18

if age >= 18:
    print("You are an adult")
else:
    print("You are a minor")

num = 8

if num % 2 == 0:
    print("Even")
else:
    print("odd")

You are an adult
Even

In [ ]:
score = int(input("Enter your score: "))

if score >= 90:
    print("A")
elif score >= 80:
    print("B")
elif score >= 70:
    print("C")
else:
    print("F")

F

In [ ]:
x = 7

if x > 0:
    if x % 2 == 0:
        print("Positive Even")
    else:
        print("Positive Odd")
else:
    print("Negative Number ")

Positive Odd

In [ ]:
num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number"))
operator = input("Choose an operator (+, -, /, *)")

if operator == "+":
    print(num1 + num2)
elif operator == "-":
    print(num1 - num2)
elif operator == "*":
    print(num1 * num2)
elif operator == "/":
    print(num1 / num2)
else:
    print("Invalid operator")

Invalid operator

## Loops

In [ ]:
## For Loop
for name in ["Victor", "Britney", "Alma", "Brian", "Sharline"]:
    print(f"Hi {name}, welcome to the team!") ## Goes through each name in the list and prints a welcome message

for i in range(5):
    print(i) ## prints numbers from 0 to 4

for i in range(10):
    print(i) ## prints numbers from 0 to 9

Hi Victor, welcome to the team!
Hi Britney, welcome to the team!
Hi Alma, welcome to the team!
Hi Brian, welcome to the team!
Hi Sharline, welcome to the team!
0
1
2
3
4
0
1
2
3
4
5
6
7
8
9
10
9
8
7
6
5
4
3
2
1

In [ ]:
#reverse
for i in range(10, 0, -1): ## starts from 10, ends at 1, decrementing by 1
    print(i)

10
9
8
7
6
5
4
3
2
1

In [ ]:
names = ["Victor", "Britney", "Alma", "Brian", "Sharline"]

for idx, name in enumerate(names, start = 1):
    print(f"{idx}: {name}") ## prints index and name from the list

1: Victor
2: Britney
3: Alma
4: Brian
5: Sharline

In [ ]:
## zip method
names = ["Victor", "Britney", "Alma", "Brian", "Sharline"]
scores = [92, 70, 70, 17, 99]

for name, score in zip(names, scores):
    print(f"{name} scored {score}")

Victor scored 92
Britney scored 70
Alma scored 70
Brian scored 17
Sharline scored 99

In [ ]:
## looping through a dictionary

user = {"name": "Jacob", "email": "jacob@gmail.com", "active": True}

for key in user:
    print(key)


for key, val in user.items():
    print(f"{key} => {val}")

name
email
active
name => Jacob
email => jacob@gmail.com
active => True

In [ ]:
## using a for loop to print even numbers within a range

for num in range(10):
    if num % 2 == 0:
        print(num)

0
2
4
6
8

## While Loops

In [ ]:
count = 5

while count > 0 :
    print (count)
    count -= 1

## just like for js

5
4
3
2
1

In [ ]:
count = 1
while count <= 5:
    print(count)
    count += 1
    ## count starts from 1 and goes to 5

1
2
3
4
5

In [24]:
## input with an exit condition

while True:
    cmd = input("Enter a command (type 'exit' to quit): ").strip()

    if cmd.lower() == "exit":
        break
    print()

In [26]:
# print multiples of 7 upto 100

count = 0

while count <= 100 :
    if count % 7 == 0:
        print(count)
    count += 1

0
7
14
21
28
35
42
49
56
63
70
77
84
91
98

In [ ]:
# print 3 most expensive product from a dict

products = [
    {"name": "laptop", "price": 85000},
    {"name": "phone", "price": 150000},
    {"name": "ipad", "price": 70000},
    {"name": "stanley cup", "price": 1000},
    {"name": "mirror", "price": 500},
    {"name": "lipgloss", "price": 300}
]

for product in products:
    if product["price"] > 1000:
        print(product)

{'name': 'laptop', 'price': 85000}
{'name': 'phone', 'price': 150000}
{'name': 'ipad', 'price': 70000}

## Functions

In [39]:
def greet(name):
    
    print(f"Hello {name} how are you?")

greet("Alma")

Hello Alma how are you?

In [41]:
def sum_of_numbers(num1, num2):
    return num1 + num2

sum_of_numbers(5, 7)

12

In [45]:
def greet(name = "Guest"):
    
    print(f"Hello {name} how are you?")

greet("Alma")
greet()

Hello Alma how are you?
Hello Guest how are you?

In [47]:
# lambda function
multiply = lambda a, b : a * b
print(multiply(10, 2))

20

In [ ]:
# recursive function - function that calls itself - works in tree traversal, fibonacci sequence

#factorial = multiply from that number backwards

def factorial(n):
    if n == 0:
        return 1
    return n * factorial(n -1)

print(factorial(5))

120

In [56]:
# Create a function that will determine whether a number is positive or negative.

def my_value_checker(num):
    if num > 0:
        return f"{num} is a positive number"
    else:
        return f"{num} is a negative number"

num = int(input("Enter a number to determine whether it is positive or negative"))
print(my_value_checker(num))

10 is a positive number

## List methods

In [58]:
my_list = []
print(my_list)

[]

In [59]:
my_list = [3, 4, 5, 6]
print(my_list)

[3, 4, 5, 6]

In [60]:
names = ["Victor", "Britney", "Alma", "Brian", "Sharline"]
print(names)

['Victor', 'Britney', 'Alma', 'Brian', 'Sharline']

In [62]:
mixed_list = ["Victor", "Britney", "Alma", "Brian", "Sharline", 1, 2, True]
print(mixed_list)

['Victor', 'Britney', 'Alma', 'Brian', 'Sharline', 1, 2, True]

In [63]:
my_list = [[3, 4], [5, 6]]
print(my_list)

[[3, 4], [5, 6]]

In [75]:
all_students = ["Victor", "Britney", "Alma", "Brian", "Sharline"]
print(all_students[0])
print(all_students[1])
print(all_students[2])
print(all_students[3])
print(all_students[4])


# update an element
all_students[0] = "Maina"
print(all_students)

# length of the list
print(len(all_students))

# check items
print("Brian" in all_students)

#added items
print(all_students + ["Mike", "Neville", "Stanley"])

Victor
Britney
Alma
Brian
Sharline
['Maina', 'Britney', 'Alma', 'Brian', 'Sharline']
5
True
['Maina', 'Britney', 'Alma', 'Brian', 'Sharline', 'Mike', 'Neville', 'Stanley']

In [76]:
my_list = [3, 4, 5, 6]
print(my_list * 2)

[3, 4, 5, 6, 3, 4, 5, 6]

In [85]:
all_students = ["Victor", "Britney", "Alma", "Brian", "Sharline"]

print(all_students)

# add item
all_students.append("Mike")
print(all_students)

# add at a specific index
all_students.insert(5, "Nev")
print(all_students)

['Victor', 'Britney', 'Alma', 'Brian', 'Sharline']
['Victor', 'Britney', 'Alma', 'Brian', 'Sharline', 'Mike']
['Victor', 'Britney', 'Alma', 'Brian', 'Sharline', 'Nev', 'Mike']

In [96]:
# add a number of items at the same time
all_students = ["Victor", "Britney", "Alma", "Brian", "Sharline", "Seth"]
all_students.extend(["Nev", "Mike", "Stanley"])
print(all_students)

# remove a specific item
all_students.remove("Stanley")
print(all_students)

# removes the last name
all_students.pop()
print(all_students)

#clears the list
all_students.clear()
print(all_students)

['Victor', 'Britney', 'Alma', 'Brian', 'Sharline', 'Seth', 'Nev', 'Mike', 'Stanley']
['Victor', 'Britney', 'Alma', 'Brian', 'Sharline', 'Seth', 'Nev', 'Mike']
['Victor', 'Britney', 'Alma', 'Brian', 'Sharline', 'Seth', 'Nev']
[]

In [100]:
my_tuple = ("Victor", "Britney", "Alma", "Brian", "Sharline")
print(type(my_tuple))
print(my_tuple[-1])
print(my_tuple[0])

<class 'tuple'>
Sharline
Victor

In [117]:
# Write a program that creates a list of numbers or words and then sorts the list in ascending or descending 
# order using built-in functions like sorted or the sort method.

list = ["Apple", "Boy", "Cat", "Dog", "Egg", "Fanta"]

def sort_in_ascending_order(list):
    list.sort(reverse=False)
    return list

def sort_in_descending_order(list):
    list.sort(reverse=True)
    return list

print(sort_in_ascending_order(list))
print(sort_in_descending_order(list))

['Apple', 'Boy', 'Cat', 'Dog', 'Egg', 'Fanta']
['Fanta', 'Egg', 'Dog', 'Cat', 'Boy', 'Apple']