In [21]:
print("Hello World")

message = "Hello World"
print(message)

name = "Jane"
age = 25

print("My name is " + name + " and i am " + str(age) + " years old")
print(f"My name is {name} and i am {age} years old")

Hello World
Hello World
My name is Jane and i am 25 years old
My name is Jane and i am 25 years old

DATA TYPES

Data types define the type of value a variable can hold.

1. strings
2. numbers
3. booleans
4. lists
5. tuples
6. dictionaries
7. sets
8. none types

Strings

In [ ]:
str1 = 'hello'
str2 = 'world'
str1 = ''''
    This is a mutli-line string
    This is a mutli-line string
    This is a mutli-line string
'''

# print(type(str1))

text = "PYTHON  programming"

print(text.upper()) #changing the string to upper case

print(text.lower()) # changing into lower case

print(text.capitalize()) # making the first letter be a capital letter

print(text.title()) # making the text be like a title whereby each word starts in caps

print(text.swapcase()) # swaps the case whereby if the first word was in caps and the second word was in small letters, the vice versa happens

PYTHON  PROGRAMMING
python  programming
Python  programming
Python  Programming
python  PROGRAMMING

In [ ]:
message = "Hello World"

print(message.find("World"))
print(message.count("l")) # 3 letter ls

6
3

In [18]:
data = "    hello    "
print(data)
print(data.strip())
print(data.lstrip())
print(data.rstrip())

    hello
hello
hello
    hello

In [20]:
text2 = "I like javascript"
print(text2)
print(text2.replace("javascript", "python"))

I like javascript
I like python

## Numbers

Int

In [26]:
# can be positive, negative or zero
num1 = 20
num2 = -25
num3 = 10**100 #power
print(num3)

a = 10
b = 3

print(a + b)
print(a - b)
print(a / b)
print(a * b)
print(a // b)
print(a % b)
print(a ** b)

10000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000
13
7
3.3333333333333335
30
3
1
1000

## Floats

In [31]:
pi = 3.31415
val = -2.5
sci = 1.2e3

print(sci)
print(type(pi))

print(0.3 + 0.5)
print(0.1 + 0.2)
from decimal import Decimal
print(Decimal("0.1") + Decimal("0.2"))

1200.0
<class 'float'>
0.8
0.30000000000000004
0.3

In [ ]:
print(int(2.6))
print(abs(-9))
print(pow(2, 3))
print(divmod(10, 3)) # 10 is a dividend and 3 is the divisor

2
9
8
(3, 1)

In [ ]:
import math

print(math.sqrt(64))
print(math.factorial(5)) # mutliplication of values from 1 to number 5
print(math.gcd(24, 36))
print(math.log(100, 10))

8.0
120
12
2.0

## Booleans

In [46]:
print(3 > 5)
print(3 < 5)
print(True == 1)
print(True + True)
print(False == 0)
print(False + 10)
print(False + False)
print(True + 10)
# print(True == 1)

False
True
True
2
True
10
0
11

Falsy values:

1. 0(numeric zero: 0, 0.0, oj)
2. ("")empty string
3. []empty list
4. ()empty tuple
5. {}empty dict
6. set() empty set
7. none

## List

In [50]:
fruits = ["mango", "lemon", "orange"]
print(fruits)

fruits.append("banana")
print(fruits[2])
print(type(fruits))

['mango', 'lemon', 'orange']
orange
<class 'list'>

## Tuples

In [ ]:
coordinates = (20, 30)
print(coordinates)
print(type(coordinates))

(20, 30)
<class 'tuple'>

## Range - a sequence of numbers

In [53]:
numbers = range(10)
print(list(numbers))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

## Sets

In [64]:
colors = {"blue", "red", "green", "blue"}
print(colors)
colors.add("purple")
print(colors)

{'red', 'blue', 'green'}
{'red', 'purple', 'blue', 'green'}

## Dictionaries

In [63]:
student = {"name": "Alice", "age": 20}
print(student)
print(student["name"])
print(type(student))

{'name': 'Alice', 'age': 20}
Alice
<class 'dict'>

## None

In [62]:
b = None
print(type(b))
b = 3
print(type(b))

<class 'NoneType'>
<class 'int'>

## Conditional Statements

In [ ]:
age = 18

if age >= 18:
    print("You are an adult")
else:
    print("You are a minor")

num = 8

if num % 2 == 0:
    print("Even")
else:
    print("odd")

You are an adult
Even

In [68]:
score = int(input("Enter your score: "))

if score >= 90:
    print("A")
elif score >= 80:
    print("B")
elif score >= 70:
    print("C")
else:
    print("F")

F

In [69]:
x = 7

if x > 0:
    if x % 2 == 0:
        print("Positive Even")
    else:
        print("Positive Odd")
else:
    print("Negative Number ")

Positive Odd

In [76]:
num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number"))
operator = input("Choose an operator (+, -, /, *)")

if operator == "+":
    print(num1 + num2)
elif operator == "-":
    print(num1 - num2)
elif operator == "*":
    print(num1 * num2)
elif operator == "/":
    print(num1 / num2)
else:
    print("Invalid operator")

Invalid operator